.gcv-page {
  padding: 50px;
  background-color: white;
  height: 100%;
  width: 1000px;

  margin: auto;
  color: black;

  .heading {
    text-align: center;
  }

  .name {
    font-size: 3rem;
  }

  .contact {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .experience {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    .dates {
      display: flex;
      gap: 10px;
      grid-row: span 2;
      justify-self: end;
    }

    .description {
      grid-column: span 2;
    }
  }

  .experience > p:first-child {
    font-weight: bold;
  }

  hr {
    border: 1px solid black;
  }
}

.gcv-page > * {
  margin-bottom: 20px;
}
