.gcv-page {
  padding: 50px;
  background-color: white;
  height: 100%;
  width: 1000px;

  margin: auto;
  color: black;

  .heading {
    text-align: center;
  }

  .name {
    font-size: 3rem;
  }

  .contact {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  hr {
    border: 1px solid black;
  }
}

.gcv-page > * {
  margin-bottom: 20px;
}
