:root {
  --text: rgb(215, 215, 215);
  --dark: #202020;
  --base: #2e2e2e;
  --highlight: #5a5a5a;
  --accent: #475f8e;

  --large: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  color: var(--text);
  font-family: "Segoe UI", sans-serif;
  user-select: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--dark);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background-color: var(--accent);
  color: inherit;
  font-family: inherit;
  padding: 10px;
  border: none;
  cursor: pointer;
  outline: 1px solid transparent;
  transition: filter 0.2s;
}

button:hover {
  filter: brightness(1.2);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

hr {
  border: 1px solid var(--base);
}

textarea {
  resize: none;
  background-color: var(--base);
  border: none;
  font-family: inherit;
  color: inherit;
  padding: 10px;
  width: 100%;
  height: 15rem;
  transition: outline 0.2s;
  outline: 1px solid transparent;
}

textarea:hover {
  outline: 1px solid var(--highlight);
}

textarea:focus {
  outline: 1px solid var(--accent);
}

input {
  background-color: var(--base);
  border: none;
  color: inherit;
  font-family: inherit;
  padding: 10px;
  width: 100%;
  transition: outline 0.2s;
  outline: 1px solid transparent;
}

input:hover {
  outline: 1px solid var(--highlight);
}

input:focus {
  outline: 1px solid var(--accent);
}

#root,
#__next {
  isolation: isolate;
}

/* Font Sizes */
h1 {
  font-size: var(--large);
}

.sidebar {
  background: var(--dark);
  outline: 1px solid var(--base);
  width: 500px;
  padding: 20px;
  height: calc(100vh - 40px);
  margin: 20px;
  display: grid;
  grid-auto-rows: min-content;
  gap: 20px;
  overflow-y: auto;
  scrollbar-color: var(--highlight) var(--base);
  scrollbar-width: thin;

  .dates {
    display: grid;
    grid-template-columns: repeat(2, 1fr) auto;
    gap: 20px;
    color-scheme: dark;
  }
}

.app-container {
  display: grid;
  grid-template-columns: auto 1fr;
}
